body {
    background: url("https://www.filmibeat.com/img/2021/12/netflix11-1639468647.jpg");
}

* {
    font-family: 'Inter', sans-serif;

}

.card {
    background-color: rgba(0, 0, 0, 0.9);
    height: 540px;
    width: 400px;
    border: none;
}

.signup-container {
    display: flex;
    justify-content: center;

    height: 100vh;
    align-items: center;
}

.title {
    text-align: center;
    color: aliceblue;
}

.btn {
    background-color: #e50914;
    color: burlywood;
    border: none;
    padding: 15px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.btn {
    color: aliceblue;
    width: 260px;
    padding: 15px;
    border: none;
    margin: 15px;
}

.inputt {
    width: 200px;
    padding: 15px;
    border: none;
    margin: 15px;
    background-color: rgb(90, 82, 82);

}

.inputt1 {
    width: 200px;
    padding: 15px;
    border: none;
    margin: 15px;
    background-color: rgb(90, 82, 82);

}

.mid-session {
    display: flex;
    flex-direction: column;
    align-items: center;

}